<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ function('wp_head') }}

</head>
<body class="{{ body_class }}">
<div id="page-wrapper">
    {% include 'partials/header.twig' %}
    <div id="swup" class="content-area transition-fade">
        <aside>
            <a href="#aside-container" id="aside-button">{{ __( "Show/Hide Page informations", 'storeroom') }}</a>
            <div id="aside-container">
                <h3 style="margin-top:0;">{% block sidebar_title %}{% endblock %}</h3>
                {% block sidebar_content %}
                {% endblock %}
            </div>
        </aside>
        <main>
            {{ fn( 'theme_breadcrumb' ) }}
            <h2 class="main-title">&gt; {% block page_title %}{% endblock %}</h2>
            <div id="content">
                {% block page_content %}
                {% endblock %}
            </div>
        </main>
    </div>
    <footer>
        <p>©2025-2026 BenjaminCM - Hosted by <a href="https://www.o2switch.fr" target="_blank">o2Switch</a></p>
    </footer>
</div>
{{ function('wp_footer') }}
</body>
</html>